* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
  }

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-thumb{
  background-color: limegreen;
}

::-webkit-scrollbar-track{
  background-color: rgba( 0, 0, 0, 0.6);
  width: 50px;
}

/* Index CSS */

.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover{
    color: limegreen;
    text-shadow: 0 0 25px limegreen,
                 0 0 50px limegreen;
    transform: scale(1.1);
  }

.indexspan{
    color: limegreen;
  }

.indexheader{
    position: fixed;
    width: 100%;
    padding: 35px 10%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.indexnav a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
  }

  .indexnav a:hover,
  .indexnav a.active{
    color: limegreen;
    border-bottom: 3px solid limegreen;
  }

  .loginindex{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
  }

  .loginindex:hover{
    color: white;
    background-color: limegreen;
    box-shadow: 0 0 25px limegreen;
  }

  .home {
    margin: 0;
    height: 100vh;
    background-image: url('https://cdn.discordapp.com/attachments/1195371183382745211/1303970311770996776/photo-1461749280684-dccba630e2f6.png?ex=672db07c&is=672c5efc&hm=b526225455f4d63930b7970a40405aab5ce038a936caf743627e652111c90083&');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
    overflow: hidden;
  }

.home::before {
  content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
}

.hometext{
  position: relative;
  z-index: 2;
}

.hometext h1{
  font-size: 50px;
}

.indexfooter {
  position: relative;
  bottom: 0;
  width: 100;
  padding: 40px 0;
  background-color: black;
  }

.indexfooter .indexsocial{
      text-align: center;
      padding-bottom: 25px;
      color: white;
  }

.indexfooter .indexsocial a{
  font-size: 24px;
  color: white;
  border: 2px solid aqua;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  box-shadow: inset 0 0 10px aqua, 0 0 10px aqua;
  transition: 0.3s ease;
  }

.indexfooter .indexsocial a:hover{
  transform: scale(1.2)translateY(-10px);
  color: aqua;
  border: 2px solid aqua;
  }
  
.indexfooter .indexcopyright{
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  color: white;
  }

  /* Login CSS */


.loginheader h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;    
}

.loginheader p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
    margin-bottom: 20px;
}

.login-left {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  padding-left: 50px;
}

.login-right {
  margin-top: 10%;
}

.login-form {
  width: 100%; 
  max-width: 400px; 
}

.login-form label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 20px;
   
}

.login-form input {
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 8px;
}

 .login-form a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
    margin: 20px 0;
    display: block;
 }

.login-form .signin {
    width: 100%;
    height: 42px;
    background: #000000;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.login-form span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
}

.login-form span a {
    font-weight: 600;
}